.yellow {
    background-color: #fecc4c;
}
.red {
    background-color: #e81123;
}
.green {
    background-color: #169406;
}
.purple {
    background-color: #9c2e84;
}

nav {
    margin-top: 15px;
}

.top_nav {
    display: inline-block;
    background-color: lightgrey;
    border: 2px solid grey;
    padding: 5px;
    font-size: 24px;
    height: 25px;
    text-decoration: none;
    font-weight: bold;
    color: blue;
}

.selected {
    color: white;
    background-color:maroon;
    height: 45px;
}